<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png" width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>

<!-- restaurant list -->
<div class="container mt-5">
  
  <div class="row">
   
    <form action="/restaurants" method="POST">
  <div>
  <input type="text" placeholder="Sababa 沙巴巴中東美食" name="name">
  </div>
  <div>
  <input type="text" placeholder="Sababa Pita Bar" name="name_en">
  </div>
  <div>
  <input type="text" placeholder="中東料理" name="category">
  </div>
  <div>
  <input type="text" placeholder="圖片鏈結" name="image">
  </div>
  <div>
  <input type="text" placeholder="台北市羅斯福路...." name="location">
  </div>
  <div>
  <input type="text" placeholder="02 2363 8009" name="phone">
  </div>
  <div>
  <input type="text" placeholder="google_map" name="google_map">
  </div>
  <div>
  <input type="text" placeholder="評分" name="rating">
  </div>
  <div>
  <input type="text" placeholder="描述" name="description">
  </div>
  <button type="submit">Create</button>
</form>
    
    
    
    
    
    <!--</div>-->
  </div>
</div>

